@model PTW.Models.UserModel
@{
    ViewBag.Title = "Login";
}

<h1 style="color:mediumblue; text-align:center">LOGIN NOW !!!</h1>
<hr />
<br />
<br />
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{


    <table align="center">
        <tr>
            <th style="width:150px" align="right">UserName<span style="color: red">*</span>:</th>
            <th>
                @Html.TextBoxFor(m => m.username, htmlAttributes: new { @class = "form-control" })
            </th>
        <tr>
            <th></th>
            <th>
                @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                <font>@ViewBag.thongbao</font>
            </th>
        </tr>
        <tr>
            <th style="width:150px" align="right">Password<span style="color: red">*</span>:</th>
            <th>
                @Html.PasswordFor(m => m.password, new { @class = "form-control" })
            </th>
        </tr>
        <tr>
            <th></th>
            <th>
                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
            </th>
        </tr>
        <tr>
            <th></th>
            <th><button type="submit" class="btn btn-primary"><img src="~/images/login.png" alt="" width="75" height="30" /></button></th>
        </tr>
    </table>

}
